.container{
	max-width: 600px;
}
h1{
	font-size: 20px;
	margin-bottom: 35px;
	text-align: center;
}
.post-title{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 18px;
}
.post-title div{
	width: 50%;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.post-title a{
	color: #AEBFC7;
	text-decoration: none;
}
.post-title > .active{
	border-bottom: 3px solid #40AAFF;
	color: #40AAFF;

}
.delete-box{
	display: flex;
	justify-content: flex-end;
}
.delete-button{
	display: inline-block;
	margin-right: 10px;

}
.new-posts{
	// padding: 25px;
}

.btn-success{
	padding: 7px 15px;
	width: 100%;
}
//エラー時のフォーム赤枠
.field_with_errors input, .field_with_errors textarea{
	border: 2px solid #ea352d;
  	outline: 0;
 }
 .error-message{
 	color: #ea352d;
 	padding-top: 5px;
 }
 .parent{
 	display: inline-block;
 }
 // プレースホルダ
 input::placeholder{
  color: #999;
}
// 新規登録、ログイン
.terms-notification{
	color: #aaa;
	padding-bottom: 20px;
}
.terms-link{
	color: #AEBFC7;
}
.links-new{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 30px;
}
.twitter-login-button{
	background: #1da1f2;
	width: 100%;
	border-radius: 5px;
	padding: 8px 20px;
	text-align: center;
}
.fa-twitter{
	color: #fff;
	margin-right: 10px;
}
.twitter-login-button span{
	color: #fff;
	letter-spacing: 0.05em;
}
.twitter-button-wrapper{
	padding-bottom: 20px;
	// border-bottom: 1px solid #D4DDE8;
}
.twitter-button-wrapper a{
	text-decoration: none;
}
.twitter-button-wrapper a:hover{
	opacity: 0.8;
}
.login-form,.registration-form{
	margin-top: 20px;
}
@media screen and (max-width:767px) {
	.radio-area{
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}
	.radio-area div{
		width: 50%;
	}
	.radio-area input{
		width: 35px;
	}
	.radio-button{
		width: 35px;
	}
}
