<%= stylesheet_link_tag "root/terms", :media => "all" %>

<div class="container">
	<div class="terms-area">
		<h1>お問い合わせ</h1>
		<p>お問い合わせの際は、以下のメールアドレスまでご連絡いただくか、またはダイレクトメッセージにてお願いいたします。</p>
		<p>メールアドレス：swkon233@gmail.com</p>
		<p>Twitter：Skon（@skooon100）</p>
	</div>
</div>