<%= stylesheet_link_tag "root/top", :media => "all" %>

<div class="container-fluid">
	<section class="main-title">
		<div class="about-main">
			<div class="about-body">
				<div class="about-title">
					<h1 id="logo">Stockers</h1>
					<p class="title-description">ブックマーク共有サービス</p>
				</div>
				<div class="catch-copy">
					<p class="catch-copy">いいサービスは、だれかが知っている。</p>
				</div>
				<div class="buttons">
					<%= link_to 'ログイン', new_user_session_path ,class: "login-button btn btn-following" %>
					<%= link_to '新規登録', new_user_registration_path, class: "registration-button btn btn-following" %>
				</div>
			</div>
		</div>
		<div class="about-overview">
			<div class=""
		</div>
	</section>
</div>