/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-tagsinput
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// リセットCSS
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: #F9F9F9;
}
li{
	list-style: none;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.btn-follow,.btn-following{
	width: 110px;
	outline: 0;
}
.btn-follow:hover{
	background-color: #eaf5fd;
	border-color: #0099e8;
	color: #0099e8;
}
.btn-follow{
	border-color: #0099e8;
	color: #0099e8;
	background-color: #fff;
}
.btn-following{
	background-color: #0099e8;
	border-color: #0099e8;
	color: #fff;
}
.btn-following:hover{
	color: #fff;
	opacity: 0.8;
}
//ブックマークに追加ボタン
.btn-bookmark:hover{
	background-color: #eaf5fd;
	border-color: #55c500;
	color: #55c500;
}
.btn-bookmark{
	border-color: #55c500;
	color: #55c500;
	background-color: #fff;
}
.btn-bookmarked{
	background-color: #55c500;
	border-color: #55c500;
	color: #fff;
}
.btn-bookmarked:hover{
	color: #fff;
	opacity: 0.8;
}