/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap-tagsinput
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// リセットCSS＋フォント
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans Japanese';
	color: #345068;
}

body{
	background: #F9F9F9;
}
h1{
	color: #345068;
	font-size: 20px;
	// padding-bottom: 30px;
}
li{
	list-style: none;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
// フッター固定用
body,#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.my-footer{
	margin-top :auto;
}
// ヘッダー
.my-header{
	background-color: #fff;
	height: 60px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;

	.header-wrapper{
		height: 100%;
		width: 70%;
		margin: 0 auto;
	}
	.header-contents{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.contents-navigation{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.bookmark-menu{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.nav-box a{
		text-decoration: none;
	}
	.nav-button{
		background-color: #40aaff;
		margin-left: 10px;
	    padding: 7px 20px;
	    border-radius: 3px;
	    font-size: 12px;
	}
	.nav-button.new-bookmark-nav *{
		color: #fff;
	}
	.nav-button.bookmark-nav{
		background-color: #d4dde8;

		span{
			color: #73899c;
		}
	}
	.user-menu{
		margin-left: 80px;
		cursor: pointer;
		position: relative;
	}
	.dropdown-box{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#dropdown-window{
		display: none;
	}
	#dropdown-window.is-active{
		display: block;
		position: absolute;
		bottom: -125px;
		z-index: 100;
		// デザイン
		width: 130px; //レイアウト崩れを防ぐ
		background: #fff;
	    font-size: 13px;
	    text-align: left;
	    box-shadow: 0px 2px 3px 0px rgba(25,25,25,0.2);
	    border: 1px solid #ddd;
	    border-radius: 3px
	}
	#dropdown-window.is-active a{
		text-decoration: none;
		color: #345068;

		.dropdown-content{
			padding: 10px;
			border-bottom: 1px solid #efefef;
		}
		.dropdown-content:hover{
			background: #efefef;
			color: #222;
		}
	}
	.user-info-header{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
	}
	.user-name-header{
		margin-bottom: 7px;
	}
	.user-nickname-header{
		font-size: 10px;
		color: #999;
		margin-bottom: 0;
	}
	.user-icon{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header-icon{
		background-size: cover;
		background-position: center center;
		border: 1px solid #efefef;
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
}
// フッター
.my-footer{
	width: 100%;
	height: 60px;
	background-color: #345068;

	.footer-wrapper{
		height: 100%;
		width: 70%;
		margin: 0 auto;
	}
	.nav-links{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.nav-links a{
		width: 33%; // 要素数によって変動
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-links a:hover{
		opacity: 0.8;
	}
	.nav-links .far{
		color: #fff;
	}
	.nav-search-user{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.footer-icon{
		background-size: cover;
		background-position: center center;
		border: 1px solid #efefef;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}
}

//ログイン失敗アラート
.login-alert{
	text-align: center;
	color: #ea352d;
}
// 「必須」アイコン
.form-require{
	background-color: #ea352d;
	margin: 0 0 3px 7px;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
}
// フォローボタン
.btn-follow,.btn-following{
	width: 110px;
	outline: 0;
}
.btn-follow:hover{
	background-color: #eaf5fd;
	border-color: #40AAFF;
	color: #40AAFF;
}
.btn-follow{
	border-color: #40AAFF;
	color: #40AAFF;
	background-color: #fff;
}
.btn-following{
	background-color: #40AAFF;
	border-color: #40AAFF;
	color: #fff;
}
.btn-following:hover{
	color: #fff;
	opacity: 0.8;
}
//ブックマークに追加ボタン
.btn-bookmark:hover{
	opacity: 0.9;
	color: #fff;
}
.btn-bookmark,.btn-bookmark span,.btn-bookmark i{
	border-color: #55c500;
	color: #fff;
	background-color: #55c500;
}
.btn-bookmarked,.btn-bookmarked span{
	background-color: #fff;
	border-color: #AEBFC7;
	color: #AEBFC7;
}
.btn-bookmarked:hover{
	color: #999;
	opacity: 0.8;
}
// フォルダアイコン
.fa-folder-open{
	color: #AEBFC7;
}
.fa-stack-2x{
	color: #55c500;
}
.fa-stack-1x{
	padding-top: 2px;
	color: #fff;
}
// サービス画像
.image-box{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.image-radius{
	border-radius: 5px;
}
// フォント
@font-face {
font-family: 'GeosansLight';
font-style: normal;
font-weight: normal;
src: local('GeosansLight'), url('GeosansLight.woff') format('woff');
}
@font-face {
font-family: 'GeosansLight-Oblique';
font-style: normal;
font-weight: normal;
src: local('GeosansLight-Oblique'), url('GeosansLight-Oblique.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 100;
    src: url('NotoSansCJKjp-Thin.eot'); /* IE9 Compat Modes */
    src: url('NotoSansCJKjp-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('NotoSansCJKjp-Thin.woff') format('woff'), /* Modern Browsers */
    url('NotoSansCJKjp-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url('NotoSansCJKjp-Light.eot');
    src: url('NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Light.woff') format('woff'),
    url('NotoSansCJKjp-Light.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 300;
    src: url('NotoSansCJKjp-DemiLight.eot');
    src: url('NotoSansCJKjp-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-DemiLight.woff') format('woff'),
    url('NotoSansCJKjp-DemiLight.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('NotoSansCJKjp-Regular.eot');
    src: url('NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Regular.woff') format('woff'),
    url('NotoSansCJKjp-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url('NotoSansCJKjp-Medium.eot');
    src: url('NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Medium.woff') format('woff'),
    url('NotoSansCJKjp-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('NotoSansCJKjp-Bold.eot');
    src: url('NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Bold.woff') format('woff'),
    url('NotoSansCJKjp-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url('NotoSansCJKjp-Black.eot');
    src: url('NotoSansCJKjp-Black.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Black.woff') format('woff'),
    url('NotoSansCJKjp-Black.ttf')  format('truetype');
}