/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// リセットCSS＋フォント
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans Japanese';
	color: #345068;
}

body{
	background: #EAEAE0;
}
h1{
	color: #345068;
	font-size: 20px;
}
li{
	list-style: none;
}
#logo{
	font-family: 'Nunito', sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #40aaff;
	letter-spacing: 0.1em;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
// フォームページ
.form-wrapper{
	background: #fff;
	border-radius: 5px;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 50px;
}
// フッター固定用
body,#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.my-footer{
	margin-top :auto;
}
.user-profile{
	margin-top: 10px;
}
// ヘッダー
.my-header{
	background-color: #fff;
	height: 60px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0;

	.header-wrapper{
		height: 100%;
		width: 70%;
		margin: 0 auto;
	}
	.header-contents{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative; //discover-nav用
	}
	.header-contents a{
		text-decoration: none;
	}
	.contents-navigation{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.discover-menu{
		position: absolute;
		left: 170px;
	}
	.bookmark-menu{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.header-login{
		margin-right: 15px;
	}
	.nav-box a{
		text-decoration: none;
	}
	.nav-button{
		background-color: #40aaff;
		margin-left: 10px;
	    padding: 7px 20px;
	    border-radius: 3px;
	    font-size: 12px;
	}
	.nav-button.new-bookmark-nav *{
		color: #fff;
		letter-spacing: 1px;
	}
	.nav-button.bookmark-nav{
		background-color: #d4dde8;

		span{
			color: #73899c;
		}
	}
	.nav-button.discover-nav{
		background-color: #fff;
		border: 1px solid #d4dde8;
		border-radius: 20px;

		span{
			color: #73899c;
		}
	}
	.user-menu{
		margin-left: 80px;
		cursor: pointer;
		position: relative;
	}
	.dropdown-box{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	#dropdown-window{
		display: none;
	}
	#dropdown-window.is-active{
		display: block;
		position: absolute;
		bottom: -125px;
		z-index: 100;
		// デザイン
		width: 130px; //レイアウト崩れを防ぐ
		background: #fff;
	    font-size: 13px;
	    text-align: left;
	    box-shadow: 0px 2px 3px 0px rgba(25,25,25,0.2);
	    border: 1px solid #ddd;
	    border-radius: 3px
	}
	#dropdown-window.is-active a{
		text-decoration: none;
		color: #345068;

		.dropdown-content{
			padding: 10px;
			border-bottom: 1px solid #efefef;
		}
		.dropdown-content:hover{
			background: #efefef;
			color: #222;
		}
	}
	.user-info-header{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 10px;
		max-width: 70%;
	}
	.user-name-header{
		margin-bottom: 7px;
		word-break: break-all;
	}
	.user-nickname-header{
		width: 100%;
		font-size: 10px;
		color: #999;
		margin-bottom: 0;
		word-break: break-all;
	}
	.user-icon{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.header-icon{
		background-size: cover;
		background-position: center center;
		border: 1px solid #efefef;
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
}
// 利用規約など
.terms{
	width: 30%;
	margin: 30px auto;
	min-width: 425px;
}
.terms-wrapper,.copy{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.terms-wrapper{
	margin-bottom: 10px;
}
.terms-wrapper a,.terms-wrapper span{
	color: #73899c;
	padding: 5px;
}
// フッター
.my-footer{
	width: 100%;
	height: 60px;
	background-color: #345068;

	.footer-wrapper{
		height: 100%;
		width: 70%;
		margin: 0 auto;
	}
	.nav-links{
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	.nav-links a{
		width: 25%; // 要素数によって変動
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-links a:hover{
		opacity: 0.8;
	}
	.nav-links .far, .nav-links .fas{
		color: #fff;
	}
	.nav-search-user{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.footer-icon{
		background-size: cover;
		background-position: center center;
		border: 1px solid #efefef;
		border-radius: 50%;
		width: 30px;
		height: 30px;
	}
}
// ユーザー情報
.target-user-box{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.target-user-icon{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
}
.target-icon{
	background-size: cover;
	background-position: center center;
	border: 1px solid #efefef;
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
.target-user-name{
	margin-bottom: 7px;
}
.target-user-nickname{
	font-size: 10px;
	color: #999;
	margin-bottom: 0;
}
//タグメニュー
.tag-all{
	margin-top: 50px;

	.tag-list{
		margin-top: 10px;
	}
	.tag-box{
		margin-right: 10px;
		padding: 5px 10px;
		border-bottom: 1px #ddd dotted;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.tag-box.all{
		padding-left: 5px
	}
	.tag-list a{
		text-decoration: none;
	}
	.tag-number{
		color: #333;
	}
	.tag-box:hover{
		background-color: #efefef;
	}
}

//ログイン失敗アラート
.login-alert{
	text-align: center;
	color: #ea352d;
}
// 「必須」アイコン
.form-require{
	background-color: #ea352d;
	margin: 0 0 3px 7px;
    padding: 2px 4px;
    border-radius: 3px;
    color: #fff;
    font-size: 11px;
}
// フォローボタン
.btn-follow,.btn-following{
	width: 110px;
	outline: 0;
}
.btn-follow:hover{
	background-color: #eaf5fd;
	border-color: #40AAFF;
	color: #40AAFF;
}
.btn-follow{
	border-color: #40AAFF;
	color: #40AAFF;
	background-color: #fff;
}
.btn-following{
	background-color: #40AAFF;
	border-color: #40AAFF;
	color: #fff;
}
.btn-following:hover{
	color: #fff;
	opacity: 0.8;
}
//ブックマークに追加ボタン
.btn-bookmark:hover{
	opacity: 0.9;
	color: #fff;
}
.btn-bookmark,.btn-bookmark span,.btn-bookmark i{
	border-color: #55c500;
	color: #fff;
	background-color: #55c500;
}
.btn-bookmarked,.btn-bookmarked span{
	background-color: #fff;
	border-color: #AEBFC7;
	color: #AEBFC7;
}
.btn-bookmarked:hover{
	color: #999;
	opacity: 0.8;
}
// フォルダアイコン
.fa-folder-open{
	color: #AEBFC7;
}
.fa-stack-2x{
	color: #55c500;
}
.fa-stack-1x{
	padding-top: 2px;
	color: #fff;
}
// サービス画像
.image-box{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.image-radius{
	border-radius: 5px;
}
// 小見出し
.sub-headline{
	position: relative;
	color: #73899C;
	font-weight: bold;
}
.sub-headline:before{
   content: "";
   width: 4px;
   height: 100%;
   position: absolute;
   top: 0;
   left: -10px;
   background: #40AAFF;
}

// タグクラウド
.tag-list{

	ul li {
	  display: inline-block;
	  margin: 0 0 0 1em;
	  padding: 0;
	}
	ul{
		margin-bottom: 0;
	}
	ul li a {
	  position: relative;
	  display: inline-block;
	  height: 22px;
	  line-height: 24px;
	  padding: 0 0.8em 0 0.5em;
	  background-color: #e0e0e0;
	  border-radius: 0 3px 3px 0;
	  color: #4a4a4a;
	  font-size: 12px;
	  text-decoration: none;
	}
	ul li a::before {
	  position: absolute;
	  top: 0;
	  left: -11px;
	  content: '';
	  width: 0;
	  height: 0;
	  border-color: transparent #e0e0e0 transparent transparent;
	  border-style: solid;
	  border-width: 11px 11px 11px 0;
	  border-radius: 3px;
	}
	ul li span {
	  display: block;
	  max-width: 100px;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
	}
	ul li a:hover{
	  opacity: 0.8;
	}
	ul li a:hover::before {
	  opacity: 0.8;
	}
}
// フォーム入力欄
.field{
	margin-bottom: 20px;
}
.field input, .field textarea{
	width: 100%;
	height: 35px;
	background-color: white;
	border: 2px solid #eaeaea;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
}
.field textarea{
	height: 100px;
}
label{
	margin-bottom: 3px;
	font-size: 13px;
	line-height: 25px;
}
.actions{
	margin-top: 50px;
}
// レスポンシブ
@media screen and (max-width:1024px) {
// ヘッダー
	.my-header .header-wrapper{
		width: 95%;
	}
	.my-header .discover-menu{
		position: absolute;
		left: 135px;
	}
	.my-header .user-menu{
	 	margin-left: 30px;
	 }
}
// 768より小さい端末用
@media screen and (max-width:767px) {
  header {
    width: 100%;
  }
  #logo{
  	padding-left: 15px;
  }
  .container{
  	width: 100%;
  }
  .form-wrapper{
  	margin-bottom: 40px;
  }
  .terms{
  	margin-bottom: 80px;
  }
 // ヘッダー
 .my-header{
 	.header-wrapper{
		width: 95%;
	}
  	// ロゴを中心に
  	.my-header .header-contents{
  		justify-content: center;
 	 }
 	 .discover-menu{
		display: none;
	}
 	 .bookmark-menu{
 	 	display: none;
 	 }
  	.header-login, .header-signup{
  		display: none;
 	}
 	// ドロップダウンメニューの位置調整
 	#dropdown-window.is-active{
 		left: -10px;
 	}
 }
  // フォームの入力欄確保
  .form-wrapper{
  	margin-top: 15px;
  	padding: 20px;
  }
  // フッター
  .my-footer{
  	position: fixed;
  	bottom: 0;
  }
}
@media screen and (max-width:425px) {
	.container{
		padding: 0 5px;
	}

	// ヘッダー
	.my-header{
		.user-info-header{
			max-width: 70%;
		}
	}
	.my-footer .footer-wrapper{
		width: 85%;
	}
	// 利用規約
	.terms{
		width: 100%;
		margin: 0 auto;
		margin-bottom: 80px;
		min-width: 0;
	}
	// ユーザープロフィール
	.user-profile{

		.icon-box{
			padding-left: 20px;
		}
		.icon{
			width: 70px;
			height: 70px;
		}
		.user-info{
			padding-left: 40px;
		}
		.name{
			font-size: 17px;
		}
		.nickname{
			font-size: 12px;
		}
		.stats a{
			margin-right: 15px;
			font-size: 14px;
		}
	}
}
@media screen and (max-width:350px) {
	// ドロップダウンメニューの位置調整
 	.my-header{
	 	#dropdown-window.is-active{
	 		left: -25px;
	 	}
	 	.user-menu{
	 		margin-left: 40px;
	 	}
	 }
	 // ボタン
	 .btn-follow,.btn-following{
	 	width: 90px;
	 	font-size: 12px;
	 }

}
// フォント
@font-face {
font-family: 'GeosansLight';
font-style: normal;
font-weight: normal;
src: local('GeosansLight'), url('GeosansLight.woff') format('woff');
}
@font-face {
font-family: 'GeosansLight-Oblique';
font-style: normal;
font-weight: normal;
src: local('GeosansLight-Oblique'), url('GeosansLight-Oblique.woff') format('woff');
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 100;
    src: url('NotoSansCJKjp-Thin.eot'); /* IE9 Compat Modes */
    src: url('NotoSansCJKjp-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('NotoSansCJKjp-Thin.woff') format('woff'), /* Modern Browsers */
    url('NotoSansCJKjp-Thin.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 200;
    src: url('NotoSansCJKjp-Light.eot');
    src: url('NotoSansCJKjp-Light.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Light.woff') format('woff'),
    url('NotoSansCJKjp-Light.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 300;
    src: url('NotoSansCJKjp-DemiLight.eot');
    src: url('NotoSansCJKjp-DemiLight.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-DemiLight.woff') format('woff'),
    url('NotoSansCJKjp-DemiLight.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 400;
    src: url('NotoSansCJKjp-Regular.eot');
    src: url('NotoSansCJKjp-Regular.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Regular.woff') format('woff'),
    url('NotoSansCJKjp-Regular.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 500;
    src: url('NotoSansCJKjp-Medium.eot');
    src: url('NotoSansCJKjp-Medium.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Medium.woff') format('woff'),
    url('NotoSansCJKjp-Medium.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 700;
    src: url('NotoSansCJKjp-Bold.eot');
    src: url('NotoSansCJKjp-Bold.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Bold.woff') format('woff'),
    url('NotoSansCJKjp-Bold.ttf')  format('truetype');
}
@font-face {
    font-family: 'Noto Sans Japanese';
    font-style: normal;
    font-weight: 900;
    src: url('NotoSansCJKjp-Black.eot');
    src: url('NotoSansCJKjp-Black.eot?#iefix') format('embedded-opentype'),
    url('NotoSansCJKjp-Black.woff') format('woff'),
    url('NotoSansCJKjp-Black.ttf')  format('truetype');
}

