.container{
	max-width: 600px;
}
h1{
	font-size: 20px;
	margin-bottom: 35px;
}
.user-info,.password-info{
	padding: 25px;
}
.user-info{
	padding-bottom: 40px;
	border-bottom: 1px solid #ddd;
}
.field{
	margin-bottom: 20px;
}
.field input, .field textarea{
	width: 100%;
	height: 35px;
	background-color: white;
	border: 2px solid #eaeaea;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
}
// .field.image-form input{
// 	height: 50px;
// }
.field textarea{
	height: 100px;
}
label{
	margin-bottom: 3px;
	font-size: 13px;
	line-height: 25px;
}
.action{
	margin-top: 20px;
}
.actions{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}
.soft-delete a{
	color: #AEBFC7;
}
.btn{
	padding: 7px 15px;
}

// ログイン情報編集
.password-notice{
	text-align: center;
}
.password-notice p{
	color: #ea352d;
}
.password-notice.success p{
	color: #55c500;
}
//エラー時のフォーム赤枠
.field_with_errors input, .field_with_errors textarea{
	border: 2px solid #ea352d;
  	outline: 0;
 }
 .error-message{
 	color: #ea352d;
 	padding-top: 5px;
 }
 .parent{
 	display: inline-block;
 }