.container{
	max-width: 600px;
}
.field{
	margin-bottom: 15px;
}
.field input, .field textarea{
	width: 100%;
	height: 35px;
	background-color: white;
	border: 2px solid #eaeaea;
	border-radius: 5px;
	padding: 5px 10px;
	display: flex;
	align-items: center;
}
.field.image-form input{
	height: 50px;
}
.field textarea{
	height: 100px;
}
label{
	margin-bottom: 3px;
	font-size: 12px;
}

// ログイン情報編集
.password-notice{
	background: green;
}