p{
	margin-bottom: 0;
}
h1{
	padding-left: 20px;
}
// 文字がはみ出した時の三点リーダ
.service-name,.url,.item-developer-mobile span{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
//検索フォーム
body{
	background-color: #fff;
}
.search-title{
	display: flex;
	align-items: flex-end;
	margin-bottom: 30px;
}
.search-form{
	// margin-left: 115px;
	height: 35px;
	width: 300px;
	border: 2px solid #eaeaea;
	background-color: white;
	border-radius: 5px;
	padding: 5px 10px;
	box-shadow: inset 0 0.25rem 0.125rem 0 rgba(0,0,0,0.05);
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	position: relative;
}
.search-form input{
	border: none;
	outline: 0;
}
.search-form #search{
	width: 245px;
}
.search-button{
	border: none;
	color: #333;
	background-color: #fff;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 5px;
	outline: 0;
	position: absolute;
	right: 15px;
	top: 5px;

	.fa-search{
		background-color: #fff;
	}
}
.search-button:hover{
	color: #7fbfff;
}
//タグメニュー
.tag-all{
	margin-top: 50px;

	.tag-list{
		margin-top: 10px;
	}
	.tag-box{
		margin-right: 10px;
		padding: 5px 10px;
		border-bottom: 1px #ddd dotted;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.tag-box.all{
		padding-left: 5px
	}
	.tag-list a{
		text-decoration: none;
	}
	.tag-number{
		color: #333;
	}
	.tag-box:hover{
		background-color: #efefef;
	}
}


// ブックマーク一覧
.bookmark-box{
	padding: 1em;
	border-bottom: 1px solid #ddd;
}
.bookmark-item{
	display: flex;
	align-items: center;
	justify-content: space-between;

	.item-body{
		max-width: 75%;
	}
	.item-info{ //ブックマークと開発者情報と横並びにする
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 13px; //タグとの隙間を開ける
	}
	.item-description{
		padding-top: 5px;
	}
	.service-name{
		font-size: 18px;
		color: #337ab7;
		margin-bottom: 5px;
	}
	.url{
		font-size: 12px;
		color: #999;
		padding-left: 2px;
	}
	a:hover{
		text-decoration: none;
		opacity: 0.8;
	}
	a:hover .service-name{
		color: #23527c;
	}
	a:hover .url{
		color: gray;
	}
	.item-developer{
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 50px;
	}
	.developer-icon{
		background-size: cover;
		background-position: center center;
		border: 1px solid #efefef;
		border-radius: 50%;
		width: 40px;
		height: 40px;
	}
	.developer-introduction{
		padding-left: 15px;
	}
	.developer-introduction p{
		margin: 0;
	}
	.edit-tools i{
		margin-right: 7px;
	}
	.edit-tools .fa-lock{
		padding-right: 12px;
	}
}
.item-developer-mobile{
	display: none;
	align-items: center;
	justify-content: flex-start;
	padding-left: 50px;
}

// 編集ツール
.edit-tools{
	// min-width: 80px; //押し出し防止
}
.edit-tools a{
	color: #4a4a4a;

	.fas,.far{
		font-size: 20px;
	}
}
.lock-color{
	color: #ffd700;
	font-size: 20px;
}
// レスポンシブ
@media screen and (max-width:1024px) {
	.bookmark-box{

		.item-body{
			max-width: 80%;
		}
		.item-detail{
			width: 100%;
		}
		.item-developer{
			display: none;
		}
		.edit-tools i{
			display: block;
			margin: 0; //リセット
			padding: 0; //リセット
			margin-bottom: 10px;
		}
		.edit-tools .fa-lock{
			padding-right: 0;
		}
		.item-developer-mobile{
			display: flex;
			padding: 0;
			margin-top: 7px;

			.developer-icon{
				width: 30px;
				height: 30px;
				border: 1px solid #efefef;
				border-radius: 50%;
				background-size: cover;
				margin-right: 5px;
			}
			.icon{
				width: 30px;
				height: 30px;
			}
			.developer-introduction br{
				display: none;
			}
			.developer-introduction *{
				font-size: 12px;
			}
		}
	}
}
@media screen and (max-width:767px) {
	body{
		background-color: #EAEAE0;
	}
	.bookmark-index{
		padding: 0 5px;
	}
	.container{
		padding-top: 10px;
		margin-bottom: 80px;
		background: #fff;
		border-radius: 10px;
	    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	    margin-top: 10px;
	}
	.tag-all{
		margin-bottom: 50px;
	}
}
@media screen and (max-width:375px) {
	.search-form{
		width: 100%;
	}
	.search-form #search{
		width: 80%;
	}
}