.container{
	max-width: 920px;
	// background: #fff;
}
.user-profile,.user-list-box{
	padding: 10px 40px 40px 40px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
	background: #fff;
}
h1{
	color: #345068;
	font-size: 20px;
	padding-bottom: 30px;
}
.icon-box{
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon{
	background-size: cover;
	background-position: center center;
	border: 1px solid #efefef;
	border-radius: 50%;
	width: 90px;
	height: 90px;
}
// ユーザープロフィール
.user-profile{
	background: #fff;
	padding: 30px 10px;
}
.profile-main{
	display: flex;
	align-items: start;
	justify-content: flex-start;
	position: relative;

	.icon-box{
		padding-left: 50px;
	}
}

.user-info{
	padding-left: 100px;

	.user-name{
		margin-bottom: 20px;
	}
	.name{
		font-size: 20px;
		margin-bottom: 5px;

	}
	.nickname{
		font-size: 13px;
		color: #999;
	}
	.stats a{
		color: #66757f;
		margin-right: 15px;
		font-size: 15px;
	}
}
// フォロー/フォロワー
.user-box{
	padding: 20px;
	border-bottom: 1px solid #efefef;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.user-box:last-child{
	border: none;
}
.user-box a{
		text-decoration: none;
}
.user-box a:hover{
	opacity: 0.8;
}
.follow-user-profile{
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.icon{
		width: 50px;
		height: 50px;
	}
	.user-name{
		padding-left: 30px;
	}
	.user-name p{
		margin-bottom: 0;
	}
	.name{
		font-size: 17px;
		margin-bottom: 5px;
		color: #222;
	}
	.nickname{
		font-size: 13px;
		color: #999;
	}
}
// レスポンシブ
@media screen and (max-width:767px) {
	// ユーザープロフィール
	.user-profile{

		.icon-box{
			padding-left: 20px;
		}
		.icon{
			width: 70px;
			height: 70px;
		}
		.user-info{
			padding-left: 40px;
		}
		.name{
			font-size: 17px;
		}
		.nickname{
			font-size: 12px;
		}
		.stats a{
			margin-right: 15px;
			font-size: 14px;
		}
	}
	.user-list-box{
		padding: 10px 2px;
		margin-bottom: 80px;

		.user-box a{
			max-width: 65%;
		}
		.nickname{
			word-break: break-all;
		}
	}
}
@media screen and (max-width:350px) {
	.user-profile{
		.icon{
			width: 60px;
			height: 60px;
		}
		.user-info{
			padding-left: 25px;
		}
	}
	.follow-user-profile{
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.icon{
			width: 45px;
			height: 45px;
		}
		.user-name{
			padding-left: 20px;
		}
		.user-name p{
			margin-bottom: 0;
		}
		.name{
			font-size: 14px;
			margin-bottom: 5px;
			color: #222;
		}
		.nickname{
			font-size: 12px;
		}
	}
}