// 全体構成
.container-mypage{
	max-width: 800px;
	// background: #fff;
}
.stock-services{
	background: #fff;
}
.container{
	max-width: 920px;
}
// 共通部品
p{
	margin-bottom: 0;
}
.user-profile,.recommended-work,.recommended-services,.stock-services{
	padding: 10px 40px 40px 40px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
h1{
	color: #345068;
	font-size: 20px;
	padding-bottom: 30px;
}
.image-box{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.image-radius{
	border-radius: 5px;
}
.item-developer,.service-developer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 50px;
}
.developer-icon{
	width: 35px;
	height: 35px;
}
.developer-introduction{
	padding-left: 15px;
}
.developer-introduction p{
	margin: 0;
}
// ユーザープロフィール
.user-profile{
	background: #fff;
	padding: 30px 10px;
}
.profile-main{
	display: flex;
	align-items: start;
	justify-content: flex-start;
	position: relative;
}
.icon-box{
	margin-top: 10px;
	padding-left: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon{
	background-size: cover;
	background-position: center center;
	border: 1px solid #efefef;
	border-radius: 50%;
	width: 90px;
	height: 90px;
}
.user-info{
	padding-left: 100px;

	.user-name{
		margin-bottom: 20px;
	}
	.name{
		font-size: 20px;
		margin-bottom: 5px;

	}
	.nickname{
		font-size: 13px;
		color: #999;
	}
	.stats a{
		color: #66757f;
		margin-right: 15px;
		font-size: 15px;
	}
}
.follow-button{
	position: absolute;
	right: 30px;
	top: 5px;
}
// おすすめ自作サービス
.recommended-work{
	background: #fff;
	margin-top: 2px;

	.work-box{
		position: relative;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

	}
	.work-image,.work-introduction{
		// margin-left: 20px;
	}
	.work-image{
		border-radius: 5px;
	}
	.work-introduction{
		padding-left: 70px;
	}
	.service-name{
		font-size: 22px;
		font-weight: bold;
		color: #222;
		margin-bottom: 7px;
	}
	.overview{
		margin-bottom: 13px;
	}
	.overview span{
		padding-left: 15px;
	}
	.work-detail-link{
		margin-right: 10px;
	}
	.url{
		font-size: 15px;
		color: #999;
		margin-bottom: 20px;
	}
	.btn-bookmark,.btn-bookmarked{
		position: absolute;
		bottom: 0px;
		width: 250px;
	}
	.btn-bookmark span{
		padding-left: 15px;
	}
}
// おすすめwebサービス
.recommended-services{
	background: #fff;
	margin-top: 2px;
}
// .services-box{
// }
// .services-box a{
// 	width: 28%;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	// 共通処理？？
// 	color: #444;
// }
// .services-box a:last-child{
// 	border: none;
// }
// .services-box a:hover{
// 	text-decoration: none;
// }
// 個別サービス(カード式)
// .service-box{
// 	width: 100%;
// 	height: 250px;
// 	border-radius: 10px;
// 	box-shadow: 0 2px 1px rgba(25,25,25,0.2);
// }
// .recommended-service-image{
// 	width: 100%;
// 	height: 150px;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	background: #fafafa;
// }
// // .service-text{
// // 	position:relative;
// // 	padding: 5px 10px 10px;

// 	// .service-name{
// 	// 	font-weight: bold;
// 	// }
// 	// .url{
// 	// 	position: absolute;
// 	// 	color: #999;
// 	// 	top:30px;
// 	// }
// // }
// おすすめ一覧
.service-box{
	width: 100%;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.service-info a{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		text-decoration: none;
	}
	.service-info a:hover{
		opacity: 0.8;
	}
	.recommended-service-image{
		width: 100px;
		height: 80px;
	}
	.service-introduction{
		padding-left: 50px;
	}
	.service-name{
		font-weight: bold;
		padding-bottom: 10px;
	}
	.url{
		color: #999;
	}
	.developer-icon{
		width: 35px;
		height: 35px;
	}
}
// ブックマーク・つくったサービス切り替えタブ
.tab-list{
	height: 45px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.change-tab-wrap{ //buttonのみだとborder-bottomが下にずれるので対策
	border-bottom: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
}
.change-tab-wrap.is-active{
	border: 1px solid #ddd;
	border-bottom-color: #fff;
}
.change-tab-wrap:last-child{
	margin-left: 3px;
}
.change-tab{
	width: 140px;
	height: 45px;
	background: #fff;
	border: none;
	border-radius: 5px 5px 0 0;
	margin: 0;
	outline: none; //青い枠を消す
}
.change-tab:hover{
	background: #D4DDE8;
}
.change-tab-wrap.is-active > .change-tab:hover{
	background: none;
	border-bottom: 1px solid #fff;
}
// ブックマーク一覧
.bookmarks{
	min-height: 400px;
}
.no-bookmark-wrap,.no-work-wrap{
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.no-bookmark,.no-work{
	text-align: center;
}
.no-bookmark i,.no-work i{
	margin-bottom: 25px;
}
.bookmark-item{
	padding: 1em;
	border-bottom: 1px solid #ddd;
	display: flex; //item-bodyとedit-tools
	align-items: center;
	justify-content: space-between;

	.item-body{
		max-width: 80%;
	}

	.item-info{ //ブックマークと開発者情報と横並びにする
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 13px; //タグとの隙間を開ける
	}
	.item-description{
		padding-top: 5px;
	}
	.service-name{
		font-size: 18px;
		color: #337ab7;
		margin-bottom: 5px;
	}
	.url{
		font-size: 12px;
		color: #999;
		padding-left: 2px;
	}
	a:hover{
		text-decoration: none;
		opacity: 0.8;
	}
	a:hover .service-name{
		color: #23527c;
	}
	a:hover .url{
		color: gray;
	}
	.developer-icon{
		width: 40px;
		height: 40px;
	}
	.fa-folder-open{
		color: #AEBFC7;
	}
	.fa-stack-2x{
		color: #55c500;
	}
	.fa-stack-1x{
		padding-top: 2px;
		color: #fff;
	}
}

// タグクラウド
.tag-list{

	ul li {
	  display: inline-block;
	  margin: 0 0 0 1em;
	  padding: 0;
	}
	ul{
		margin-bottom: 0;
	}
	ul li a {
	  position: relative;
	  display: inline-block;
	  height: 22px;
	  line-height: 24px;
	  padding: 0 0.8em 0 0.5em;
	  background-color: #e0e0e0;
	  border-radius: 0 3px 3px 0;
	  color: #4a4a4a;
	  font-size: 12px;
	  text-decoration: none;
	}
	ul li a::before {
	  position: absolute;
	  top: 0;
	  left: -11px;
	  content: '';
	  width: 0;
	  height: 0;
	  border-color: transparent #e0e0e0 transparent transparent;
	  border-style: solid;
	  border-width: 11px 11px 11px 0;
	  border-radius: 3px;
	}
	ul li span {
	  display: block;
	  max-width: 100px;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
	}
	ul li a:hover {
	  background-color: #555;
	  color: #fff;
	}
	ul li a:hover::before {
	  border-right-color: #555;
	}
}
// 編集ツール
.edit-tools{
	// min-width: 80px; //押し出し防止
}
.edit-tools a{
	color: dimgray;

	.fas,.far{
		font-size: 20px;
	}
}
.lock-color{
	color: #ffd700;
	font-size: 20px;
}

// レスポンシブ
@media screen and (max-width: 1024px){
	.container{
		width: 100%;
		margin: 0 auto;
		padding: 0 5px;
	}
}
