// 全体構成
.container-mypage{
	max-width: 800px;
	// background: #fff;
}
.stock-services{
	background: #fff;
}
.container{
	max-width: 920px;
}
// 共通部品
p{
	margin-bottom: 0;
}
.user-profile,.recommended-work,.recommended-services,.stock-services{
	padding: 10px 40px 40px 40px;
	border-radius: 10px;
	margin-bottom: 10px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.1);
}
h1{
	color: #345068;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 40px;
}
.no-service-wrap,.no-bookmark-wrap,.no-work-wrap{
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.no-service,.no-bookmark,.no-work{
	text-align: center;
}
.item-developer,.service-developer, .item-developer-mobile{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-left: 50px;
}
.developer-icon{
	width: 35px;
	height: 35px;
}
.developer-introduction{
	padding-left: 15px;
}
.developer-introduction p{
	margin: 0;
}
// 詳しく見るボタン
.link-area{
		text-decoration: none;
		background-color: #eaeaea;
		display: inline-block;
		padding: 5px 20px;
		border-radius: 3px;
	}
	.link-area .text{
		color: #73899c;
	}
	.link-area:hover{
		opacity: 0.8;
	}
	.link-area .text{
		margin-right: 10px;
		color: #73899C;
	}
// 文字がはみ出した時の三点リーダ
.service-name,.url,.item-developer-mobile span{
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
// いいね、コメント
.recommended-work-communications-mobile{
	display: none;
}
.communications{
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	.favorited-heart{
		color: #ff4049;
	}
	.comments{
		margin-left: 10px;
	}
	.favorite-count{
		margin-left: 20px;
	}
}
// ユーザープロフィール
.user-profile{
	background: #fff;
	padding: 30px 10px;
}
.profile-main{
	display: flex;
	align-items: start;
	justify-content: flex-start;
	position: relative;
	padding-bottom: 30px;
}
.profile-body{
	display: flex;
	align-items: start;
	justify-content: flex-start;
	padding-top:15px;
}
.icon-box{
	// margin-top: 10px;
	padding-left: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.icon{
	background-size: cover;
	background-position: center center;
	border: 1px solid #efefef;
	border-radius: 50%;
	width: 90px;
	height: 90px;
}
.user-info{
	padding-left: 100px;

	.user-name{
		margin-bottom: 20px;
	}
	.name{
		font-size: 20px;
		margin-bottom: 5px;

	}
	.nickname{
		font-size: 13px;
		color: #999;
	}
	.stats a{
		color: #66757f;
		margin-right: 15px;
		font-size: 15px;
	}
}
.follow-button{
	position: absolute;
	right: 30px;
	top: 5px;
}
.profile-sub{
	padding: 0 50px;
	word-break: break-all;
}
// おすすめ自作サービス
.recommended-work{
	background: #fff;
	margin-top: 2px;

	.work-box{
		position: relative;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;

	}
	.work-introduction{
		max-width: 65%;
	}
	.work-image{
		border-radius: 5px;
	}
	.work-introduction{
		padding-left: 70px;
	}
	.service-name{
		font-size: 22px;
		word-break: break-all;
		font-weight: bold;
		margin-bottom: 7px;
	}
	.url{
		font-size: 15px;
		color: #999;
		margin-bottom: 20px;
		word-break: break-all;
	}
	.overview{
		margin-left: 10px;
		margin-bottom: 30px;
	}
	.overview-text{
		// padding-left: 15px;
	}
	.tag-list.recommend-work-tag{
		margin-top: 20px;
	}
	.btn-bookmark,.btn-bookmarked{
		position: absolute;
		bottom: 0px;
		width: 250px;
	}
	.btn-bookmark span{
		padding-left: 15px;
	}
	.fa-comment, .fa-heart{
		font-size: 25px;
	}
	.fa-heart{
		margin-right: 10px;
	}
}
// おすすめwebサービス
.recommended-services{
	background: #fff;
	margin-top: 2px;

	.no-service-wrap{
		height: 50px;
	}
	.no-service{
		font-size: 15px;
	}
}
// おすすめ一覧
.service-box{
	width: 100%;
	padding: 20px 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.service-info a{
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		text-decoration: none;
	}
	.service-info a:hover{
		opacity: 0.8;
	}
	.recommended-service-image{
		width: 100px;
		height: 80px;
	}
	.service-introduction{
		padding-left: 50px;
	}
	.service-name{
		font-weight: bold;
		padding-bottom: 10px;
	}
	.url{
		color: #999;
	}
	.developer-icon{
		width: 35px;
		height: 35px;
	}
}
// ブックマーク・つくったサービス切り替えタブ
.stock-services h1{
	// display: inline-block;
	// margin-bottom: 20px;
}
.stock-services .title .link-area{
	margin-bottom: 25px;
}
.tab-list{
	height: 45px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.change-tab-wrap{ //buttonのみだとborder-bottomが下にずれるので対策
	border-bottom: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
}
.change-tab-wrap.is-active{
	border: 1px solid #ddd;
	border-bottom-color: #fff;
}
.change-tab-wrap:last-child{
	margin-left: 3px;
}
.change-tab{
	width: 140px;
	height: 45px;
	background: #fff;
	border: none;
	border-radius: 5px 5px 0 0;
	margin: 0;
	outline: none; //青い枠を消す
}
.change-tab:hover{
	background: #eaeaea;
}
.change-tab-wrap.is-active > .change-tab:hover{
	background: none;
	border-bottom: 1px solid #fff;
}
// ブックマーク一覧
.bookmarks{
	min-height: 400px;
}
.no-bookmark-wrap,.no-work-wrap{
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.no-bookmark,.no-work{
	text-align: center;
}
.no-bookmark i,.no-work i{
	margin-bottom: 25px;
}
.no-bookmark .fa-folder-open{
	color: #73899c;
}
.bookmark-box{
	padding: 1em;
	border-bottom: 1px solid #ddd; //レスポンシブ対応により追加
}
.bookmark-item{
	
	display: flex; //item-bodyとedit-tools
	align-items: center;
	justify-content: space-between;

	.item-body{
		max-width: 75%;
	}

	.item-info{ //ブックマークと開発者情報と横並びにする
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 13px; //タグとの隙間を開ける
	}
	.item-description{
		padding-top: 5px;
	}
	.service-name{
		font-size: 18px;
		color: #337ab7;
		margin-bottom: 5px;
	}
	.url{
		font-size: 12px;
		color: #999;
		padding-left: 2px;
	}
	a:hover{
		text-decoration: none;
		opacity: 0.8;
	}
	a:hover .service-name{
		color: #23527c;
	}
	a:hover .url{
		color: gray;
	}
	.developer-icon{
		width: 40px;
		height: 40px;
	}
	.item-developer .developer-introduction br{
		display: none;
	}
	.edit-tools i{
		margin-right: 7px;
	}
	.edit-tools .fa-lock{
		padding-right: 12px;
	}
}
.bookmark-box:last-child{
	border: none;
}
.bookmarks .item-developer-mobile{
	display: none;
}
// 自作サービス一覧
.work-items{
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.work-item{
	margin: 40px;
	min-height: 420px;
	max-width: 300px;
	border-radius: 3px;

	.work-item-main{
		box-shadow: 0 1px 2px 1px #f1f4f7;
		border-radius: 3px;
		min-height: 420px;
		position: relative;
	}
	.work-image-box, .work-image{
		border-radius: 3px 3px 0 0;
	}
	.work-description{
		padding: 15px;
		min-height: 135px;
	}
	.work-name{
		font-weight: bold;
		font-size: 15px;
		padding-bottom: 15px;
	}
	.work-overview{
		padding-bottom: 20px;
	}
	.communications{
		// position: absolute;
		width: 90%;
		// bottom: 0;
		margin: 15px;
		margin-top: 0;
		padding-bottom: 15px;
		border-top: 1px solid #eaeaea;
	}
	.fa-comment, .fa-heart{
		font-size: 17px;
	}
	.fa-heart{
		margin-right: 10px;
	}
}
.work-items .work-item:last-child{
	margin-bottom: 0;
}
// 編集ツール
.edit-tools{
	// min-width: 80px; //押し出し防止
}
.edit-tools a{
	color: dimgray;

	.fas,.far{
		font-size: 20px;
	}
}
.lock-color{
	color: #ffd700;
	font-size: 20px;
}

// レスポンシブ
@media screen and (max-width: 1024px){
	.container{
		width: 100%;
		margin: 0 auto;
		padding: 0 5px;
	}
	.recommended-work .work-introduction{
		max-width: 60%; //768px付近の文字はみ出しを防ぐため
	}
}
@media screen and (max-width:900px) {
	.work-item{
		margin-right: 5px;
		margin-left: 5px;
	}
}
@media screen and (max-width:767px) {
	// ユーザープロフィール
	.user-profile{

		.icon-box{
			padding-left: 20px;
		}
		.icon{
			width: 70px;
			height: 70px;
		}
		.user-info{
			padding-left: 40px;
		}
		.name{
			font-size: 17px;
		}
		.nickname{
			font-size: 12px;
		}
		.stats a{
			margin-right: 15px;
			font-size: 14px;
		}
		.profile-main{
			display: block;
			position: static;
		}
		.profile-body{
			padding-bottom: 20px;
		}
		.follow-button{
			position: static;
			margin-left: 20px;
		}
		.profile-sub{
			padding-left: 20px;
		}
	}
	// おすすめ自作サービス
	.recommended-work{
		background: #fff;
		margin-top: 2px;

		.work-box{
			position: relative;
			width: 100%;
			display: block;
		}
		.work-image{
			margin-bottom: 20px;
		}
		.image-radius{
			width: 100%;
			height: 200px;
		}
		.service-name{
			margin-bottom: 10px;
			word-break: break-all;
			overflow: visible;
			white-space: normal;
		}
		.url{
			width: 80%;
			margin-bottom: 40px;
		}
		.overview{
			margin-bottom: 20px;
		}
		.work-detail-link{
			margin-bottom: 15px;
		}
		.recommended-work-communications{
			display: none;
		}
		.recommended-work-communications-mobile{
			display: block;
		}
		.communications{
			padding-bottom: 20px;
		}
		.work-introduction{
			margin-top: 20px;
			padding-left: 0;
			max-width: 100%;
		}
		.btn-bookmarked,.btn-bookmark{
			width: 100%;
		}
	}
	.recommended-services{

		.service-box{
			display: block;
			// border-bottom: 1px solid #ddd;
		}
		.service-box:last-child{
			border: none;
		}
		.service-info a{
			display: block;
		}
		.image-radius{
			width: 200px;
			height: 150px;
		}
		.recommended-service-image{
			margin: 0 auto;
			width: 200px;
			height: 150px;
			padding-bottom: 20px;
		}
		.service-introduction{
			padding-left: 0;
			margin-bottom: 25px;
		}
		.service-developer{
			padding-left: 0;
			margin-bottom: 35px;
		}
		.edit-tools i{
			margin-right: 10px;
			padding-bottom: 10px;
		}
	}
	// ブックマーク一覧
	.stock-services{
		padding: 10px 20px 20px 20px;
		margin-bottom: 40px;

		.title{
			padding-left: 10px;
		}
		.change-tab-wrap{
			width: 50%;
		}
		.change-tab{
			width: 100%;
		}
		.item-body{
			max-width: 80%;
		}
		.item-detail{
			width: 100%;
		}
		// .edit-tools{
		// 	width: 30px;
		// }
		.edit-tools i{
			display: block;
			margin: 0; //リセット
			padding: 0; //リセット
			margin-bottom: 10px;
		}
		.edit-tools .fa-lock{
			padding-right: 0;
		}
		.item-developer{
			display: none;
		}
		.item-developer-mobile{
			display: flex;
			padding: 0;
			margin-top: 7px;

			.developer-icon{
				width: 30px;
				height: 30px;
			}
			.developer-introduction br{
				display: none;
			}
			.developer-introduction *{
				font-size: 12px;
			}
		}
		// 自作サービス
		.work-items{
			padding: 30px 15px;
			// 写真が大きくなった分
			min-height: 465px;
		}
		.work-item{
			width: 100%;
			max-width: 100%; //max-widthをリセット
			margin: 0 0 40px 0;
		}
		.work-image{
			width: 100%;
		}
		.work-item-main{
			box-shadow: 0 1px 20px 1px #eaeaea;
		}
		.work-item-box{
			width: 100%;
		}
		.work-description{
			// min-height: 200px;
		}
		.work-name{
			word-break: break-all;
		}
	}
}
@media screen and (max-width:350px) {
	.user-profile{

		.icon{
			width: 60px;
			height: 60px;
		}
		.user-info{
			padding-left: 25px;
		}
	}
	.work-items{

		.work-item-main{
			// min-height: 300px;
		}
		.work-description{
			// max-height: 135px;
		}
	}
}
