.terms-area{
	background: #fff;
	margin: 25px;
	padding: 30px;
	border-radius: 5px;
}
h1{
	padding-bottom: 30px;
	margin-top: 10px;
	font-size: 22px;
}
h2{
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 20px;
}
.end-text{
	padding-top: 50px;
}