.container-fluid{
	margin: 0;
	padding: 0;
}
.main-title{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 80px;
	background: #40aaff;

	.about-main{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
	}
	.about-main *{
		color: #fff;
	}
	.about-title{
		margin-bottom: 60px;
	}
	.catch-copy{
		font-size: 30px;
		margin-bottom: 40px;
	}
	h1#logo{
		font-family: 'Nunito', sans-serif;
		font-size: 80px;
		font-weight: bold;
		letter-spacing: 0.1em;
		color: #fff;
	}
	.title-description{
		font-size: 20px;
	}
	.buttons .login-button,.buttons .registration-button{
		margin: 20px;
		width: 200px;
	}
	.buttons .login-button{
		border-color: #fff;
	}
	.buttons .registration-button{
		border-color: #fff;
		background: #fff;
		color: #40aaff;
		// margin: 20px;
	}
}
	.about-overview,.intro-wrap,.about-overview-2,.intro-bookmark-box,.intro-bookmark-image,.intro-work-box,.intro-work-image{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.intro-bookmark-box{
		justify-content: flex-start;
	}
	.intro-work-box{
		justify-content: flex-end;
	}
	.about-overview,.about-overview-2{
		width: 100%;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.intro-wrap{
		width: 70%;
	}
	.intro-bookmark,.intro-work{
		text-align: left;
	}
	.intro-title{
		font-size: 25px;
		font-weight: bold;
		padding-bottom: 20px;
	}
	.intro-text{
		line-height: 25px;
	}
	.intro-bookmark-box,.intro-bookmark-image,.intro-work-box,.intro-work-image{
		width: 50%;
		text-align: left;
	}
	.intro-bookmark-image .fa-folder-open{
		font-size: 80px;
	}
	.intro-bookmark-image,.intro-work-image{
		width: 250px;
		height: 450px;
		background-size: cover;
		background-position: center center;
		border-radius: 3px;
	}
	.intro-bookmark-image{
		background-image: url(/assets/bookmark-image.png);
	}
	.intro-work-image{
		background-image: url(/assets/work-image.png);
	}
	.intro-work-image-wrap{
		background: #fff;
		width: 280px;
		height: 450px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
	}
	.about-overview-2{
		background: #40aaff;
		background: #73899c;
	}
@media screen and (max-width:767px) {
	.intro-bookmark-image,.intro-work-image{
		width: 150px;
		height: 270px;
	}
	.intro-work-image-wrap{
		width: 180px;
		height: 270px;
	}
}