.container-fluid{
	margin: 0;
	padding: 0;
	background: #f1f4f7;
}
.main-title{
	width: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
	background: #40aaff;

	.about-main{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		height: 100%;
	}
	.about-main *{
		color: #fff;
	}
	.about-title{
		margin-bottom: 90px;
	}
	.catch-copy{
		font-size: 35px;
		margin-bottom: 40px;
	}
	h1#logo{
		font-family: 'Nunito', sans-serif;
		font-size: 85px;
		font-weight: bold;
		letter-spacing: 0.1em;
		color: #fff;
	}
	.title-description{
		font-size: 23px;
	}
}
.buttons .login-button,.buttons .registration-button{
	margin: 25px;
	width: 220px;
}
.buttons .login-button{
	border-color: #fff;
}
.buttons .registration-button{
	border-color: #fff;
	background: #fff;
	color: #40aaff;
	// margin: 20px;
}
	.about-overview,.intro-wrap,.intro-box,.intro-bookmark-image,.intro-work-image,.intro-recommend-image{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.intro-box{
		justify-content: flex-start;
	}
	.intro-box.right{
		justify-content: flex-end;
	}
	.intro-box.right *{
		color: #f1f4f7;
	}
	.about-overview{
		width: 100%;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.intro-wrap{
		width: 70%;
	}
	.intro-bookmark,.intro-work,.intro-recommend{
		text-align: left;
	}
	.intro-title{
		font-size: 25px;
		font-weight: bold;
		padding-bottom: 20px;
	}
	.intro-text{
		line-height: 25px;
	}
	.intro-box,.intro-bookmark-image,.intro-work-image,.intro-recommend-image{
		width: 50%;
		text-align: left;
	}
	.intro-bookmark-image .fa-folder-open{
		font-size: 80px;
	}
	.intro-bookmark-image,.intro-work-image,.intro-recommend-image{
		width: 250px;
		height: 450px;
		background-size: cover;
		background-position: center center;
		border-radius: 3px;
	}
	.intro-bookmark-image{
		background-image: url(/assets/bookmark-image.png);
	}
	.intro-work-image{
		background-image: url(/assets/work-image.png);
	}
	.intro-recommend-image{
		background-image: url(/assets/recommend-image.png);
	}
	.intro-work-image-wrap{
		background: #fff;
		width: 280px;
		height: 450px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 3px;
	}
	.about-overview.work{
		background: #40aaff;
		background: #73899c;
	}
.navigation{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 30px;
	background: #40aaff;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100%;

	.navigation-title{
		color: #fff;
		font-size: 20px;
	}
}
@media screen and (max-width:1023px) {
	.intro-wrap{
		width: 80%;
	}
	.intro-box.right{
		padding-left: 20px;
	}
}
@media screen and (max-width:767px) {
	.main-title{
		padding-top: 60px;
		padding-bottom: 60px;

		.about-title{
			margin-bottom: 50px;
		}
		.catch-copy{
			font-size: 22px;
			margin-bottom: 40px;
		}
		h1#logo{
			font-size: 65px;
		}
		.title-description{
			font-size: 17px;
		}
	}
	.buttons .login-button,.buttons .registration-button{
		margin: 18px;
	}
	.intro-wrap{
		width: 95%;
	}
	.intro-bookmark-image,.intro-work-image,.intro-recommend-image{
		width: 150px;
		height: 270px;
	}
	.intro-work-image-wrap{
		width: 180px;
		height: 270px;
	}
	.intro-box{
		padding-right: 15px;
	}
	.intro-title{
		font-size: 18px;
	}
	.intro-text{
		font-size: 14px;
	}
	.terms{
		margin: 20px auto;
	}
}
@media screen and (max-width:424px) {
	.main-title{
		padding-top: 60px;
		padding-bottom: 60px;

		.about-title{
			margin-bottom: 50px;
		}
		.catch-copy{
			font-size: 20px;
			margin-bottom: 40px;
		}
		h1#logo{
			font-size: 60px;
		}
		.title-description{
			font-size: 17px;
		}
	}
	.terms{
		margin: 20px auto;
	}
}
@media screen and (max-width:374px) {
	.main-title{
		padding-top: 60px;
		padding-bottom: 60px;

		.about-title{
			margin-bottom: 50px;
		}
		.catch-copy{
			font-size: 18px;
			margin-bottom: 40px;
		}
		h1#logo{
			font-size: 55px;
		}
		.title-description{
			font-size: 15px;
		}
	}
	.buttons .login-button,.buttons .registration-button{
		margin: 15px;
	}
}


